.list_button {
  display: flex;
  margin-bottom: 30px;
}

.button {
  border-radius: 10px;
  font-size: 24px;
}
.button::first-letter {
  text-transform: uppercase;
}

.button:hover,
:focus {
  cursor: pointer;
  outline-style: none;
  background-color: rgb(100, 231, 85);
}

.button:not(:last-child) {
  margin-right: 20px;
}
