.list_button {
  display: flex;
  margin-bottom: 30px;
}

.button {
  border-radius: 10px;
  font-size: 24px;
}
.button::first-letter {
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  outline-style: none;
  transform: scale(1.1);
  background-color: rgb(100, 231, 85);
}

.button:focus {
  outline-style: none;
  box-shadow: 0px 0px 10px -1px rgba(54, 103, 105, 0.7);
}

.button:not(:last-child) {
  margin-right: 20px;
}
